---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import AbotuMe from "../components/AbotuMe.astro";
import Tecnologies from "../components/Tecnologies.astro";
import CardProyect from "../components/CardProyect.astro";
import Footer from "../components/Footer.astro";
// Import global styles and fonts
import "../styles/global.css";

import "@fontsource/alata";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <header>
    <Welcome />
  </header>
  <main>
    <section>
      <AbotuMe />
    </section>
    <section>
      <Tecnologies />
    </section>
    <section>
      <div class="container px-6 py-10 mx-auto sm:pt-70 md:pt-10">
        <h2
          class="max-w-prose text-center pb-6 text-3xl text-gray-900 font-bold sm:text-5xl dark:text-white"
        >
          Proyectos
        </h2>

        <!-- CARDS -->
        <div
          class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 sm:grid-cols-2 lg:grid-cols-3"
        >
          <!--Proyecto 1 -->
          <CardProyect
            imagen="https://api.microlink.io/?url=https://coffee-landing-seven.vercel.app//&screenshot=true&embed=screenshot.url"
            imagenName="Coffee-landing"
            titulo="Coffee-landing"
            tecnologia1="https://img.shields.io/badge/astro-%232C2052.svg?style=for-the-badge&logo=astro&logoColor=white"
            tecnologia2="https://img.shields.io/badge/tailwindcss-%2338B2AC.svg?style=for-the-badge&logo=tailwind-css&logoColor=white"
            tecnologia3="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E"
            link="https://coffee-landing-seven.vercel.app/"
          />
          <!--Proyecto 2 -->
          <CardProyect
            imagen="https://api.microlink.io/?url=https://agency-landing-page-theta-ten.vercel.app//&screenshot=true&embed=screenshot.url"
            imagenName="Agency-landing-page"
            titulo="Agency-landing-page"
            tecnologia1="https://img.shields.io/badge/astro-%232C2052.svg?style=for-the-badge&logo=astro&logoColor=white"
            tecnologia2="https://img.shields.io/badge/tailwindcss-%2338B2AC.svg?style=for-the-badge&logo=tailwind-css&logoColor=white"
            tecnologia3="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E"
            link="https://agency-landing-page-theta-ten.vercel.app/"
          />
          <!--Proyecto 3 -->
          <CardProyect
            imagen="https://api.microlink.io/?url=https://alantavera.vercel.app//&screenshot=true&embed=screenshot.url"
            imagenName="Portfolio website"
            titulo="Portfolio website"
            tecnologia1="https://img.shields.io/badge/astro-%232C2052.svg?style=for-the-badge&logo=astro&logoColor=white"
            tecnologia2="https://img.shields.io/badge/tailwindcss-%2338B2AC.svg?style=for-the-badge&logo=tailwind-css&logoColor=white"
            tecnologia3=""
            link="https://alantavera.vercel.app"
          />
          <!--Proyecto 4 -->
          <CardProyect
            imagen="https://api.microlink.io/?url=https://huddle-landing-page-with-curved-sections-five-beige.vercel.app/&screenshot=true&embed=screenshot.url"
            imagenName="Huddle Landing Page"
            titulo="Huddle Landing Page"
            tecnologia1="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white"
            tecnologia2="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white"
            tecnologia3="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E"
            link="https://huddle-landing-page-with-curved-sections-five-beige.vercel.app/"
          />
          <!--Proyecto 5 -->
          <CardProyect
            imagen="https://api.microlink.io/?url=https://fylo-landing-page-with-two-column-layout-gilt.vercel.app/&screenshot=true&embed=screenshot.url"
            imagenName="Fylo Landing Page"
            titulo="Fylo Landing Page"
            tecnologia1="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white"
            tecnologia2="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white"
            tecnologia3="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E"
            link="https://fylo-landing-page-with-two-column-layout-gilt.vercel.app/"
          />
          <!--Proyecto 6 -->
          <CardProyect
            imagen="https://api.microlink.io/?url=https://clipboard-landing-page-eight-henna.vercel.app/&screenshot=true&embed=screenshot.url"
            imagenName="Clipboard Landing Page"
            titulo="Clipboard Landing Page"
            tecnologia1="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white"
            tecnologia2="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white"
            tecnologia3=""
            link="https://clipboard-landing-page-eight-henna.vercel.app/"
          />
        </div>
      </div>
    </section>
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>

<style>
  body {
    font-family: "Alata", sans-serif;
  }
</style>
