<section class="max-w-screen-xl px-4 my-12 text-center sm:px-6 sm:mt-10 sm:h-60 md:grid md:grid-cols-2 md:items-center md:gap-4 lg:px-8 lg:py-16 lg:m-auto lg:content-center lg:h-max">
    <div class="flex-1 flex flex-col justify-center text-2xl font-bold text-gray-900 my-8 py-4 border-3 border-gray-900 rounded-xl sm:text-5xl sm:min-h-full lg:min-h-full">
        <h3>Tecnologias</h3>
        <div class="flex flex-wrap justify-center gap-2 mt-4 mx-8">
            <img src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white">
            <img src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white">
            <img src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E">
            <img src="https://img.shields.io/badge/tailwindcss-%2338B2AC.svg?style=for-the-badge&logo=tailwind-css&logoColor=white">
            <img src="https://img.shields.io/badge/bootstrap-%238511FA.svg?style=for-the-badge&logo=bootstrap&logoColor=white">
            <img src="https://img.shields.io/badge/SASS-hotpink.svg?style=for-the-badge&logo=SASS&logoColor=white">
            <img src="https://img.shields.io/badge/astro-%232C2052.svg?style=for-the-badge&logo=astro&logoColor=white">
            <img src="https://img.shields.io/badge/react-%2320232a.svg?style=for-the-badge&logo=react&logoColor=%2361DAFB">
            <img src="https://img.shields.io/badge/WordPress-%23117AC9.svg?style=for-the-badge&logo=WordPress&logoColor=white">
        </div>
    </div>
    <div class="flex-auto flex flex-col justify-center text-2xl font-bold text-gray-900 my-8 py-4 border-3 border-gray-900 rounded-xl sm:text-5xl sm:min-h-full">
        <h3>Aprendiendo</h3>
        <div class="flex flex-wrap justify-center gap-2 mt-4 mx-2">
            <img src="https://img.shields.io/badge/typescript-%23007ACC.svg?style=for-the-badge&logo=typescript&logoColor=white">
        </div>
                <img src="/Gifs/Happy Robot Sticker by BYJU'S FutureSchool.gif" alt="robot coding gif" class="mx-auto hidden max-w-20 text-gray-900 md:block" />

    </div>
</section>
