
<section class="lg:grid lg:h-auto lg:place-content-center">
  <div
    class="mx-auto my-10 w-screen max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 md:grid md:grid-cols-2 md:items-center md:gap-4 lg:px-8 lg:py-24"
  >
    <div class="max-w-prose text-left">
      <h1 class="text-5xl font-bold text-gray-900 sm:text-5xl">
        Alan Yael Tavera Bazán
      </h1>

      <p class="mt-4 text-base text-pretty text-gray-700 sm:text-lg/relaxed">
        Soy egresado de Ingeniería en computación. Estoy ampliando mis conocimientos en desarrollo FrontEnd y busco ponerlos en practica.
      </p>

      <div class="mt-4 flex gap-4 sm:mt-6">
        <a
          class="inline-block rounded border border-indigo-600 bg-indigo-600 px-5 py-3 font-medium text-white shadow-sm transition-colors hover:bg-indigo-700"
          href="/public/CV/CV_AlanYaelTaveraBazán.pdf" download="CV_AlanYaelTaveraBazán"
        >
          CV
        </a>

        <a
          class="inline-block rounded border border-gray-200 px-5 py-3 font-medium text-gray-700 shadow-sm transition-colors hover:bg-gray-50 hover:text-gray-900"
          href="https://github.com/Ker-A" target="_blank" rel="noopener noreferrer"
        >
          GitHub
        </a>
      </div>
    </div>
        <img src="/Gifs/Robot Coding Sticker by BYJU'S FutureSchool.gif" alt="robot coding gif" class="mx-auto hidden max-w-md text-gray-900 md:block" />
  </div>
</section>